.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  color:#fff;
  background-color: #282c34;
  text-decoration: none;
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.gifClick
{
  color:#ffff;
  text-decoration: none;
  border: 1px solid #eee;
  margin:2rem auto;
}

